<div >
    <h1>Products</h1>
    <ul>
        <p>{{!--Aca se actualizan los prodcutos--}}</p>
    </ul>
</div>


<script src="./socket.io/socket.io.js"></script>

<script src="/js/scripts.js"></script>